<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title><%= config.siteName %></title>
    <description><%= config.description ? config.description : "" %></description>
    <link><%= config.baseUrl %></link>
    <atom:link href="<%= config.baseUrl %>/feed.xml" rel="self" type="application/rss+xml" />
    <% if(site.posts) { %>
    <% site.posts.forEach(function(post) { %>
      <item>
        <title><%= post.title %></title>
        <% if(post.excerpt) { %>
          <description><%= post.excerpt %></description>
        <% } else { %>
          <description><%= post.content %></description>
        <% } %>
        <pubDate><%= moment(post.published).format("ddd, DD MMM YYYY HH:mm:ss ZZ") %></pubDate>
        <link><%= config.baseUrl %><%= post.url %></link>
        <guid isPermaLink="true"><%= config.baseUrl %><%= post.url %></guid>
      </item>
      <% }) %>
    <% } %>
  </channel>
</rss>